<input type="text" ng-model="search" class="search-query span4" placeholder="Search"/>
<div class="row span8"><table class="table">
    <thead>
    <tr>
        <th>User</th>
        <th>Password</th>
        <th>Expire date</th>
        <th>Disabled?</th>
        <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
    </tr>
    </thead>
    <tbody>
    <tr class="expired-{{user.isExpired()}}" ng-repeat="user in users | filter:search | orderBy: ['id', 'expireDate']">
        <td>{{user.name}}</td>
        <td>{{user.password}}</td>
        <td>{{user.expireDate}}</td>
        <td><input type="checkbox" ng-model="user.disabled" name="userEnabled" />
        <td>
            <a href="#/edit/{{user.id}}"><i class="icon-pencil"></i></a>
        </td>
    </tr>
    </tbody>
</table></div>